<div class="project-type latest-project">
    {{ if .IsHome }}
    <h3>
        Latest Project
    </h3>
    {{ end }}
    <div class="project-listing">
        {{ range first 1 (where .Site.RegularPages "Section" "recent-projects") }}
            {{ partial "project_link.html" . }}
        {{ end }}
    </div>
</div>
<div class="project-type recent-projects">
    {{ if .IsHome }}
    <h3>
        Other Recent Projects
    </h3>
    {{ end }}
    <div class="project-listing">
        {{ range after 1 (where .Site.RegularPages "Section" "recent-projects") }}
            {{ partial "project_link.html" . }}
        {{ end }}
    </div>
</div>
