// Colors

$primary:                       #000;

$neutral-700:                   #000;
$neutral-600:                   #575757;
$neutral-500:                   #ABABAB;
$neutral-400:                   #E6E6E6;
$neutral-300:                   #F8F8F8;
$neutral-200:                   #FCFCFC;

$body-bg-color:                 $neutral-300;
$text-color:                    $neutral-700;

$link-color:                    $primary;
$link-hover-color:              lighten($primary, 20%);
$link-active-color:             lighten($primary, 30%);

$blockquote-bg-color:           $neutral-200;
$blockquote-border-color:       $primary;
$blockquote-footer-text-color:  $neutral-700;

$code-bg-color:                 $neutral-200;
$code-text-color:               $neutral-500;
$code-str-color:                $neutral-600;// string content
$code-kwd-color:                $neutral-600;// keyword
$code-com-color:                $neutral-600;// comment
$code-typ-color:                $neutral-600;// type name
$code-lit-color:                $neutral-600;// literal value
$code-pun-color:                $neutral-600;// punctuation
$code-tag-color:                $neutral-600;// markup tag name
$code-atn-color:                $neutral-600;// markup attribute name
$code-atv-color:                $neutral-600;// markup attribute value
$code-var-color:                $neutral-700;// variable name
$code-fun-color:                $neutral-600;// function name

$btn-bg-color:                  $primary;
$btn-bg-hover-color:            lighten($primary, 10%);
$btn-bg-active-color:           lighten($primary, 20%);
$btn-text-color:                $neutral-200;
$btn-bg-color-disabled:         $neutral-500;
$btn-text-color-disabled:       $neutral-200;

$border-color:                  rgba(0,0,0,0.1);

// Typography

$font-family-base:              'Muli', Helvetica, Arial, sans-serif;

$font-size-small:               0.75rem;
$font-size-base:                1rem;
$font-size-large:               1.3rem;
$font-size-jumbo:               2rem;

$font-weight-light:             200;
$font-weight-normal:            300;
$font-weight-bold:              700;

$line-height-base:              1.6;

// Spacer

$spacer:                        1.2rem;
